.form-container{
    padding: 20px 20px 0 20px;
    border: 2px solid #cacaca;
    border-radius: 5px;
    margin-top: 10px;
}
.form-buttons{
    border-top: 2px solid #cacaca;
    padding-top: 10px;
    .btn{
        margin-right: 5px;
    }
}
.mat-checkbox-label{
    font-size: 15px !important;
    font-weight: bold !important;
    color: #404040 !important;
}

mat-label{
    font-size: 20px !important;
    font-weight: bold !important;
    color: #404040 !important;
}

.mat-form-field {
    width: 100%;
}
