
.actions-header,
.mat-sort-header-button{
    font-weight: bold !important;
    font-size: 13px !important;
}

.action-btn{
    width: auto !important;
    height: auto !important;
}

.action-btn-label{
    height: 25px;
    line-height: 15px;
    margin-left: 5px;
}
