<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/icon_192.png" width="150px"/>
            <h1>{{ 'Register' | translate }}</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }}">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a class="btn rounded-btn text-center col-md-6" [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a>
                    <p class="col-md-12">{{ 'OrLogin' | translate }}</p>
                    <a class="btn rounded-btn col-md-6" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
